<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title> OCS </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css
    " class="rel">
    <link rel="stylesheet" type="text/css" href="static/STYLE.CSS">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,600&display=swap" rel="stylesheet">

  </head>
  <body>
    <section class="header">
      <nav class="navbar bg-dark">
        <div class="container-fluid">
           <a class="navbar-brand" href="index">
            ONLINE CLOTH STITCHING
           </a>
            <div class="nav-links" id="navlinks">
              <ul>
                  <li><a href="index">HOME</a> </li>
                  <li><a href="user">USER</a></li>
                  <li><a href="shopnow">SHOP NOW</a></li>
                  <li><a href="customization_front"> CUSTOMIZATION </a> </li>
                  <li><a href="rental"> RENTAL </a></li>
                  <li><a href="">FEEDBACK</a></li>
                  <li><a href="contact"> CONTACT US</a></li>
              </ul>
            </div>
        </div>
      </nav>
    </section>
 




  <section id="side_bar" >
    <section class="w-100 p-4">
      <div id="clear_sidebar" class="w-100 "><img  align="right" src="https://cdn.onlinewebfonts.com/svg/img_403614.png" style="width: 28px; " ></div><br><br>
      <h1 >Filter</h1>
    <hr><br>
    <!-- <a>Availability</a><br><br>
    <a>Product type</a><br><br>
    <a>Size</a><br> -->
    <p>Sort By:
      <select  class="" name="Sort_by" id="Sort_by">
          <!--here by default no card to be selected so we leave by blank-->
      <option value=""></option>
      <option value="Alphabetically,A-Z">Alphabetically,A-Z</option>
      <option value="Alphabetically,Z-A">Alphabetically,Z-A</option>
      <option value="PRICE,LOW-HIGH">PRICE,LOW-HIGH</option>
      <option value="PRICE,HIGH-LOW">PRICE,HIGH-LOW</option>
      </select>
  </p>
    </section>
  </section>
  <form action="/kurtas" method="post">
    {% csrf_token%}
    <h1 class="m-4 p-4"> Kurtas</h1>
    <!--shirtss -->
    <section class="row p-0 m-0" >
      <!--<h1 class="p-4">Collections</h1> -->
      <section class="col-lg-4 p-4 ">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a class="collection_text p-4 fs-4 text-dark" style="text-decoration: none;" href="individual_item_layout">
                <img src="static/images/kurtas/images (1).jpeg" class="zoom position-relative d-block w-100 p-4" alt="."><input type="submit" value="PRINTED WHITE" name="item">-></a>
              </div>
          </div>
        </div>
      </section>
      <section class="col-lg-4 p-4" >
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a class="collection_text p-4 fs-4 text-dark" style="text-decoration: none;" href="individual_item_layout">
                <img src="static/images/kurtas/images (2).jpeg" class="zoom position-relative d-block w-100 p-4" alt="."><input type="submit" value="PRINTED BLACK" name="item">-></a>
              </div>
            </div>
          </div> 
        </section>
        <section class="col-lg-4 p-4 " >
          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a class="collection_text p-4  fs-4 text-dark" style="text-decoration: none;" href="individual_item_layout">
                  <img src="static/images/kurtas/images (3).jpeg" class="zoom position-relative d-block w-100 p-4" alt="."><input type="submit" value="PRINTED YELLOW" name="item">-></a>
                </div>
              </div>
            </div> 
          </section>
        </section>
        
      </form>


  <!-- Footer As a link -->

  <nav id="footer" class="navbar  navbar text-light bg-dark p-2">
    <div class="container row">

      <div class="col-lg-4 text-center mb-4 text-center">
        <!--<img src="   " style="height:100px">-->
        <br>
        <H2> OCS </H2>
        <P>ONLINE CLOTH STITCHING</P>
      </div>
      <br>
      <div id="find_us_on" class="col-lg-2  mb-4" style="padding: 7% 0%;">
        <h4>Find us on</h4>
        <a class="text" href="https://www.facebook.com/profile.php?id=100087419500577" style="text-decoration: none; color: white;"><img src="https://i.ibb.co/cQzLTC1/icons8-facebook-48.png" alt="...." style="height:22px" class="m-1">FACEBOOK</a><br>
        <a class="text" href="https://www.instagram.com/ajayfromayejude/" style="text-decoration: none; color: white;"><img src="https://i.ibb.co/mS1xsCq/Pngtree-instagram-icon-8704817.png" style="height:20px" class="m-1">INSTAGRAM</a><br>
        <a class="text" href="https://www.youtube.com/ayejude" style="text-decoration: none; color: white;"><img src="https://i.ibb.co/3cMbk7H/icons8-youtube-48.png" style="height:20px" class="m-1 ">YOUTUBE</a><br>
      </div>
      <br>
      <div id="Help_&_Support" class="col-lg-2 mb-4">
        <h4>Help&Support</h4>
        <a style="text-decoration: none; color: white;" href="E-comm_project(refund).html" class="text">Refund</a><br>
        <a style="text-decoration: none; color: white;" href="E-comm_project(terms&conditions).html" class="text">Terms&Conditions</a><br>
        <a style="text-decoration: none; color: white;" href="E-comm_project(shipping).html" class="text">Shipping</a>
      </div>
     
    </div>
  </nav>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="shirtspage.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>